/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModuleFrontPageboxContainerNewProducts {
  padding-left: 0rem;
  padding-top: 0.625rem;
  padding-right: 0rem;
}


.ModuleFrontPageProductsNewHeading h2 {
  font-size:1.25rem;
}




