/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

/***************************
            Ticker
***************************/

span.ModulesFrontPageTickerBootstrapTickerNew {
  font: 700 0.625rem/0.5rem Arial,Helvetica,sans-serif;
  color: #000;
  background: #B2D5EE none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 5rem;
  text-align: center;
  display: block;
  position: absolute;
  left: -0.3125rem;
  top: 1.4375rem;
  transform: rotate(-45deg);
}



span.ModulesFrontPageTickerBootstrapTickerSpecial {
  font: 700 0.625rem/0.5rem Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #E6290B none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 5rem;
  text-align: center;
  display: block;
  position: absolute;
  left: -0.3125rem;
  top: 1.4375rem;
  transform: rotate(-45deg);
  float:left;
}

span.ModulesFrontPageTickerBootstrapTickerFavorite {
  font: 700 0.625rem/0.5rem Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #449D44 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 5rem;
  text-align: center;
  display: block;
  position: absolute;
  left: -0.3125rem;
  top: 1.4375rem;
  transform: rotate(-45deg);
}

span.ModulesFrontPageTickerBootstrapTickerFeatured {
  font: 700 0.625rem/0.5rem Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #025AA5 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 5rem;
  text-align: center;
  display: block;
  position: absolute;
  left: -0.3125rem;
  top: 1.4375rem;
  transform: rotate(-45deg);
}


/********************************
// Ticker pourcenatge
********************************/
span.ModulesFrontPageTickerBootstrapTickerPourcentage {
  font: 700 14px/12px Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #FF6600 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 3.125rem;
  text-align: center;
  display: block;
  float:right;
  position: relative;
  right:1rem;
}
