/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

/***************************
résolution 1050
****************************/
@media (max-width: 74rem) {
    div.InfosHeaderAdmin {
        display: none;
        float: left;
    }

    span.footerHelp {
        display: none;
    }
}

@media (max-width: 85rem) {
    div.MenuHeaderAdmin {
        display: none;
    }
}

@media (max-width: 40rem) {
    .logoHeading {
        display: none;
    }

    #footer {
        display: none;
    }
}

@media (max-width: 512px) {
    span.infoHeader {
        display: none;
    }
}

/*
// Extra small devices (portrait phones, less than ???px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) { ... }

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { ... }

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { ... }

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { ... }
*/

@media screen and (max-width: 767px) {
    #TotalMonth {
        height: 150px;
    }
}
@media screen and (min-width: 768px) {
    #TotalMonth {
        height: 215px;
    }
}
@media screen and (min-width: 992px) {
    #TotalMonth {
        height: 250px;
    }
}


@media screen and (max-width: 767px) {
    #TotalRevenue {
        height: 150px;
    }
}
@media screen and (min-width: 768px) {
    #TotalRevenue {
        height: 215px;
    }
}
@media screen and (min-width: 992px) {
    #TotalRevenue {
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    #d_total_ca_by_year {
        height: 150px;
    }
}
@media screen and (min-width: 768px) {
    #d_total_ca_by_year {
        height: 215px;
    }
}
@media screen and (min-width: 992px) {
    #d_total_ca_by_year {
        height: 250px;
    }
}