/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesIndexCategoriesBoostrapColumn5 {
  min-width: 18.75rem;
  padding-right: 0.5rem;
}

.ModulesIndexCategoriesBoostrapColumn5Image {
  text-align: center;
}

.ModulesIndexCategoriesBoostrapColumn5Title h3 {
  text-align:center;
  vertical-align:text-top;
  padding-top: 0.3125rem;
  height: 0.625rem;
  padding-left: 0.3125rem;
  padding-right:5px;
  font-size: 0.875rem!important;
}

.ModulesIndexCategoriesBoostrapColumn5Title A {
  text-decoration: none;
}

.ModulesIndexCategoriesBoostrapColumn5ShortDescription h3 {
  text-align:center;
  padding-top: 0.3125rem;
  color: #7F736F;
  text-transform: lowercase;
  padding-left: 0.3125rem;
  padding-right:5px;
}

.ModulesIndexCategoriesBoostrapColumn5TextPrice  {
  color:#000000;
  text-align:center;
  vertical-align:text-top;
  padding-top: 0.625rem;
}


.ModulesIndexCategoriesBoostrapColumn5StockImage {
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}



.ModulesIndexCategoriesBoostrapColumn5ImageNewArrival  {
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesIndexCategoriesBoostrapColumn5QuantityMinOrder {
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
  padding-bottom:5px;
}


.ModulesIndexCategoriesBoostrapColumn5ProductsQuantityUnit {
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesIndexCategoriesBoostrapColumn5ViewDetails {
  text-align:center;
}

.ModulesIndexCategoriesBoostrapColumn5SubmitButton {
  text-align:center;
  text-transform:uppercase;
}

.ModulesIndexCategoriesBoostrapColumn5CardHeight {
  height:17rem;
}