Options -Indexes
Options +FollowSymlinks

#### Your config to change ###############
<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On

## URL Canonicalization
#to change in function your website

#    RewriteCond %{HTTP_HOST} !^www.mysite.org$ [NC]
#    RewriteRule ^(.*)$ https://www.mysite.org/$1 [L,R=301]

#to change in function your website
RewriteBase /boutique/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

#to change in function your website
RewriteRule . /boutique/index.php [L]





</IfModule>

#Caching schema

## EXPIRES CACHING ##
## https://gtmetrix.com/leverage-browser-caching.html ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>