Options -Indexes
Options +FollowSymlinks

#### Your config to change ###############
<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine On

## URL Canonicalization
#to change in function your website

#    RewriteCond %{HTTP_HOST} !^www.mysite.org$ [NC]
#    RewriteRule ^(.*)$ https://www.mysite.org/$1 [L,R=301]

#to change in function your website
#RewriteBase /boutique/

#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d

#to change in function your website
#RewriteRule . /boutique/index.php [L]
</IfModule>
