/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.card.boxeContainerCurrencies {
  margin-top: 0.625rem;
  border-radius: 0.25rem;
}

.card-img-top.boxeBannerContentsCurrencies {
  text-align: center;
}

.card-header.boxeHeadingCurrencies {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 3px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
}

.card-title.boxeTitleCurrencies {
  overflow: hidden;
  padding: 3px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}

.card-text.boxeContentsCurrencies {
  overflow: hidden;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.10rem;
  padding-right:0.10rem;
}

.card-footer.boxeBottomCurrencies {
  border-top: none;
  padding: 0rem 0rem;
}


.card-block.boxeContentArroundCurrencies {
  padding: 0.5rem;
  overflow: hidden;
  padding-right:0.1rem;
  padding-left:0.1rem;
}

.card-img-top.boxeCurrencies {
}


.boxePullDownsideCurrencies {
  width:90%;
}

