/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.card.boxeContainerCategories  {
  margin-top: 0.625rem;
  border-radius: 0.25rem;
}

.card-img-top.boxeBannerContentsCategories {
  text-align: center;
}

.card-header.boxeHeadingCategories {
  padding-left: 3px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
}

.card-title.boxeTitleCategories{
  overflow: hidden;
  padding: 3px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}


.card-text.boxeContentsCategories {
  padding: 3px;
  font-size: 0.75rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  padding-right:0.1rem;
}

.card-footer.boxeBottomCategories {
  background-color: #fff;
  border-top: none;
  padding: 0rem 0rem;
}


.card-block.boxeContentArroundCategories {
  padding: 0.1rem;
  overflow: hidden;
  padding-right:0.1rem;
  padding-left:0.1rem;
}

.boxeCategoriesNavigation {
  padding-left:3px;
}

.boxeCategoriesNavigation a:hover {
  text-decoration: none;
}


ul.boxeCategoriesNavigation  {
  list-style: outside none none;
}

.boxeCategoriesNavigation > li {
  line-height: 2.5rem;
}

.boxeCategoriesNavigation li {
  position: relative;
  text-transform: capitalize;
}

span.boxeCategoriesNavigation {
  font-weight: bold;
}
