/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.card.boxeContainerSearch {
  margin-top: 0.625rem;
  border-radius: 0.25rem;
}

.card-img-top.boxeBannerContentsSearch {
  text-align: center;
}

.card-header.boxeHeadingSearch {


  padding-left: 3px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
}

.card-title.boxeTitleSearch {
  overflow: hidden;
  padding: 3px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}


.card-text.boxeContentsSearch {
  overflow: hidden;
  font-size: 0.75rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  padding-right:0.1rem;
}

.card-footer.boxeBottomSearch {
  background-color: #fff;
  border-top: none;
  padding: 0rem 0rem;
}


.card-block.boxeContentArroundSearch {
  padding: 0.5rem;
  overflow: hidden;
  padding-right:0.1rem;
  padding-left:0.1rem;
}

.boxeContentLinkAdvancedSearch {
  text-align: center;
}

.boxeContentLinkAdvancedSearch A{
  font-weight: normal;
}


input.boxeInputSearch {
  padding-left: 0.2rem;
  width:7.5rem;
}