/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */
.ModulesProductsNewBoostrapColumn5Image {
  text-align: center;
}

.ModulesProductsNewBoostrapColumn5Title h3 {
  font-size : 1rem;
  text-align:center;
  vertical-align:text-top;
  padding-top: 0.3125rem;
  height: 0.625rem;
  padding-left: 0.3125rem;
  padding-right:5px;
  font-size: 0.875rem!important;
}

.ModulesProductsNewBoostrapColumn5Title A {
  text-decoration: none;
}

.ModulesProductsNewBoostrapColumn5ShortDescription h4 {
  text-align:center;
  padding-top: 0.3125rem;
  color: #7F736F;
  text-transform: lowercase;
  padding-left: 0.3125rem;
  padding-right:5px;
}

.ModulesProductsNewBoostrapColumn5TextPrice  {
  color:#000000;
  text-align:center;
  vertical-align:text-top;
  padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapColumn5StockImage  {
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}

div.ModulesProductsNewBoostrapColumn5ImageNewArrival  {
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapColumn5QuantityMinOrder {
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
  padding-bottom:5px;
}

.ModulesProductsNewBoostrapColumn5ProductsQuantityUnit  {
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsNewBoostrapColumn5ViewDetails {
  text-align:center;
}

.ModulesProductsNewBoostrapColumn5SubmitButton {
  text-align:center;
  text-transform:uppercase;
}
