/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShoppingAI(TM) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.moduleProductsInfoReviewsRow {
}

.moduleProductsInfoReviewsTitle, span.moduleProductsInfoReviewsTitle h3 {
  font-size: 1rem;
}


.moduleProductsInfoTextReviewBy, span.moduleProductsInfoTextReviewBy {
  font-weight: bold;
  float: left;
}

.moduleProductsInfoDateReviewAdded, span.moduleProductsInfoDateReviewAdded {
  font-weight: bold;
}

.moduleProductsInfoReviewText {
}

span.productsInfoReviewsRating {
  color: #f0a42a;
  font-size: large;
}

.buttonVoteYes .toggleButton.yesButton {
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  padding: 2px 3px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners if desired */
}

.buttonVoteNo .toggleButton.noButton {
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  padding: 2px 3px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners if desired */
}