/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.moduleProductsInfoName, span.moduleProductsInfoName h1 {
}

.moduleProductsInfoName A {
    color: #682b0e;
    text-decoration: none;
}

h1.moduleProductsInfoName {
    font-size :1.5rem
}