/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.boxContainerModulesProductsFeatured {
}


.boxContentsModulesProductsFeatured {
    color: #000000;
}

.ModuleProductsFeaturedSplit {
}


/***************************
            Ticker
***************************/

span.ModulesProductsFeaturedBootstrapTickerNew {
  font: 700 10px/8px Arial,Helvetica,sans-serif;
  color: #000;
  background: #B2D5EE none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 6px 0px 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 80px;
  text-align: center;
  display: block;
  position: absolute;
  left: -5px;
  top: 23px;
  transform: rotate(-45deg);
}



span.ModulesProductsFeaturedBootstrapTickerSpecial {
  font: 700 10px/8px Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #E6290B none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 6px 0px 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 80px;
  text-align: center;
  display: block;
  position: absolute;
  left: -5px;
  top: 23px;
  transform: rotate(-45deg);
}



span.ModulesProductsFeaturedBootstrapTickerFavorite {
  font: 700 10px/8px Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #449D44 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 6px 0px 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 80px;
  text-align: center;
  display: block;
  position: absolute;
  left: -5px;
  top: 23px;
  transform: rotate(-45deg);
}


span.ModulesProductsFeaturedBootstrapTickerFeatured {
  font: 700 10px/8px Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #025AA5 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 6px 0px 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 80px;
  text-align: center;
  display: block;
  position: absolute;
  left: -5px;
  top: 23px;
  transform: rotate(-45deg);
}

/********************************
// Ticker pourcenatge
********************************/
span.ModulesProductsFeaturedBootstrapTickerPourcentage {
  font: 700 14px/12px Arial,Helvetica,sans-serif;
  color: #FFF;
  background: #FF6600 none repeat scroll 0% 0%;
  text-transform: uppercase;
  padding: 0.375rem 0px 0.4375rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 3.125rem;
  text-align: center;
  display: block;
  float:right;
  position: relative;
  right:1rem;
}