/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsSearchBoostrapColumn6Image {
  text-align: center;
}

.ModulesProductsSearchBoostrapColumn6Title h3 {
  font-size: 0.75rem;
  font-weight: bold;
  text-align:left;
  vertical-align:text-top;
  padding-top: 0.3125rem;
  height: 0.625rem;
  padding-left: 0.3125rem;
  padding-right:5px;
  color:#5B0E0D;
}

.ModulesProductsSearchBoostrapColumn6Title A {
  color:#5B0E0D;
  text-decoration: none;

}

.ModulesProductsSearchBoostrapColumn6ShortDescription h3 {
  font-size: 0.625rem;
  text-align:left;
  padding-top: 0.3125rem;
  color: #000;
  text-transform: lowercase;
  font-weight: normal;
  padding-left: 0.3125rem;
  padding-right:5px;
}

.ModulesProductsSearchBoostrapColumn6TextPrice  {
  color:#000000;
  text-align:center;
  vertical-align:text-top;
  font-size: 0.75rem!important;
  padding-top: 0.625rem;
}


.ModulesProductsSearchBoostrapColumn6StockImage {
  font-size:9px;
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}



.ModulesProductsSearchBoostrapColumn6ImageNewArrival  {
  font-size:9px;
  text-align:center;
  vertical-align:text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsSearchBoostrapColumn6QuantityMinOrder {
  font-size:9px;
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
  padding-bottom:5px;
}


.ModulesProductsSearchwBoostrapColumn6ProductsQuantityUnit {
  font-size:9px;
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsSearchBoostrapColumn6ViewDetails {
  text-align:center;
}

.ModulesProductsSearchBoostrapColumn6SubmitButton {
  text-align:center;
  text-transform:uppercase;
}
