/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.boxeContainerShoppingCart {
  margin-top: 0.625rem;
  border-radius: 0.25rem;
}

.card-img-top.ClicShoppingboxContentShoppingCartBanner {
  text-align: center;
}

.card-header.ClicShoppingboxHeadingShoppingCart {


  padding-left: 3px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
}

.card-header.boxeHeadingShoppingCart A {
  text-transform: uppercase;
  font-weight: normal;
}

.card-title.boxeTitleShoppingCart  {
  overflow: hidden;
  padding: 3px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal;
}

.card-title.boxeTitleShoppingCart A {
}

span.boxeTitleShoppingCart {
  font-size: 0.375rem;
}

.card-text.boxeContentsShoppingCart  {
  overflow: hidden;
  padding: 3px;
  font-size: 0.75rem;
}

.card-text.boxeContentsShoppingCart a {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: normal
}



.card-block.boxeContentArroundShoppingCart {
  overflow: hidden;
  padding-right:0.1rem;
  padding-left:0.1rem;
  font-size: 0.6875rem;
}


.card-footer.boxeBottomContentsShoppingCart {
  border-top: none;
  padding: 0rem 0rem;
}


.boxeNewItemShoppingCart  {
  font-size: 0.6875rem;
  font-weight: bold;
}

A.boxeNewItemShoppingCart {
  font-size: 0.6875rem;
  font-weight: bold;
  color: #000000;
}

.boxeShowTotalShoppingCart {
  text-align:right;
  padding-top:0.3125rem;
}

.boxeShowTextShoppingCart {
  text-align:center;
  padding-top:0.625rem
}

