/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *
 *
 */

.boxContainerCategoriesCSS {
  padding-top: 0.625rem;
}

i.nfoBoxContentsCategoriesBannerCss {
  text-align: center;
}

/* ********************************
// 1er MENU
// ******************************* */

.button1 {
  display: block;
  font-weight: normal;
  padding-left: 0;
  color: #776058;
  cursor: default;
  font-size: 0.375rem;
  margin-left: 5px;
  text-transform: uppercase;
  text-indent:0.9375rem;
  text-decoration: none;
  margin: 0 0 0 -5px !important;
  padding: 0;
  width: 12.8rem;
  height: 0.9375rem;
  background-position: 0 -0.625rem;
  background-repeat: no-repeat;

  padding-bottom: 0.9375rem;
}

.button1:hover {  
  display: block;
  font-weight: normal;
  padding-left: 0;
  color: #776058;
  cursor: default;
  font-size: 0.375rem;
  margin-left: 5px;
  text-transform: uppercase;
  text-decoration:none;
}

/* niveau 1*/
.item1 {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #776058;
}

.item1:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #776058;
}

/* niveau 2 */

.item4 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item4:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


/* niveau 3 */

.item6 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item6:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}







/* ********************* */
/* 2ème sous catégorie  bien etre */
/* ********************* */

.item5 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item5:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}



.item7 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item7:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item8 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item8:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item9 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item9:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item10 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item10:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item11 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item11:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item12 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item12:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item13 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item13:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item35 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item35:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item43{
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item43:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #776058;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}










/* ********************************
// 3EME MENU
// ******************************* */



.button2 {
	display: block;
    font-weight: normal;
    padding-left: 0;
    color: #9A2D64;
    cursor: default;
    font-size: 0.375rem;
    margin-left: 5px;
    text-transform: uppercase;
	text-indent:0.9375rem;
    text-decoration: none;
    margin: 0 0 0 -5px !important;
    padding: 0;
    width: 12.8rem;
    height: 0.9375rem;
    padding:0;
    background-position: 0 -0.625rem;
    background-repeat: no-repeat;
    background: url("../../../../../image/template/karawan2011/puce_9.png") no-repeat scroll 0 5px transparent;
    padding-bottom: 0.9375rem;
}

.button2:hover {  
    display: block;
    font-weight: normal;
    padding-left: 0;
    color: #9A2D64;
    cursor: default;
    font-size: 0.375rem;
    margin-left: 5px;
    text-transform: uppercase;
    text-decoration:none;
}

/* niveau 1*/

.item2 {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #9A2D64;
}

.item2:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #9A2D64;
}




/* niveau 2 */


.item87 {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item87:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item46 {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item46:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}



/* sous sous menu */

.item27 {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item27:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_9.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item44 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item44:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}


.item45 {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item45:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_8.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}



.item51 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item51:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item90 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item90:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item95 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item95:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #9A2D64;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}













/* ********************************
// 3EME MENU
// ******************************* */

.button3 {
	display: block;
    font-weight: normal;
    padding-left: 0;
    color: #445A6F;
    cursor: default;
    font-size: 0.375rem;
    margin-left: 5px;
    text-transform: uppercase;
	text-indent:0.9375rem;
    text-decoration: none;
    margin: 0 0 0 -5px !important;
    padding: 0;
    width: 12.8rem;
    height: 0.9375rem;
    background-position: 0 -0.625rem;
    background-repeat: no-repeat;
    background: url("../../../../../image/template/karawan2011/puce_10.png") no-repeat scroll 0 5px transparent;
    padding-bottom: 0.9375rem;
}

.button3:hover {  
	display: block;
    font-weight: normal;
    padding-left: 0;
    color: #445A6F;
    cursor: default;
    font-size: 0.375rem;
    margin-left: 5px;
    text-transform: uppercase;
	text-decoration:none;
}

/* niveau 1*/
.item3 {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #445A6F;
}

.item3:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    text-transform: none;
    color: #445A6F;
}

/* niveau 2 */

.item30 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item30:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.75rem;
    font-weight: normal;
    padding-left: 0.625rem;
}



/* niveau 3 */
.item47 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item47:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item65 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item65:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item66 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item66:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}
.item67 {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}

.item67:hover {
    background: url("../../../../../image/template/karawan2011/puce_liste_10.png") no-repeat scroll 0 center transparent;
    color: #445A6F;
    font-size: 0.6875rem;
    font-weight: normal;
    padding-left: 0.625rem;
}



