/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *
 *
 */

.moduleShoppingCartProductsListingDiscount{
  color: #BB0000;
  font-weight: bold;
}


.ModulesShoppingCartproductsListingTableContent{
}

.ModulesShoppingCartProductsListingTableHeading {
  border-bottom: 0.0625rem solid #EEEEEE;
}

td.ModulesShoppingCartProductsListingContent{
  font-weight: bold;
  padding-bottom:0.625rem;
}


.ModulesShoppingCartProductsListingShoppingCartQuantity {
  width: 70px!important;
  font-weight:normal;
  font-size: small;
}

.btn-ShoppingCartRefresh {
  font-size:0.80rem;
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}


p.ModulesShoppingCartproductsListingOption {
  font-weight: normal;
  font-size: xx-small;
  font-style : italic;
}

p.ModulesShoppingCartproductsListingStockCheck {

}

