/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsFavoritesBoostrapLine1Image {
  text-align: left;
  padding-top: 0.625rem;
}

.ModulesProductsFavoritesBoostrapLine1Title H3 {
  text-align: left;
  padding-left: 0.625rem;
  text-transform: uppercase;
  padding-top: 0.625rem;
}

.ModulesProductsFavoritesBoostrapLine1Title A {
  text-decoration: none;
}


.ModulesProductsFavoritesBoostrapLine1ShortDescription {
  text-align: left;
  padding-left: 0.625rem;
  font-weight: normal;
  padding-top: 0.625rem;
}


.ModulesProductsFavoritesBoostrapLine1TextPrice {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 30px;
  text-align: center;
}

.ModulesProductsFavoritesBoostrapLine1StockImage {
  text-align: center;
  padding-top: 0.625rem;
}


.ModulesProductsFavoritesBoostrapLine1FlashDiscount {
  padding-top: 0.625rem;
}


.ModulesProductsFavoritesBoostrapLine1Image {
  text-align: center;
}

.ModulesProductsFavoritesBoostrapLine1ImageNewArrival  {
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsFavoritesBoostrapLine1QuantityMinOrder {
  font-size:9px;
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsFavoritesBoostrapLine1ViewDetails {
  font-size:9px;
  text-align:center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsFavoritesBoostrapLine1SubmitButton {
  text-align:center;
}

.ModulesProductsFavoritesBoostrapLine1SubmitButton {
  text-align:center;
}
