/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *
 *
 */

div.moduleProductsInfoName, span.moduleProductsInfoName h1 {
  font-size: 1.5625rem;
}

.moduleProductsInfoName A {
    color: #682b0e;
    text-decoration: none;
}