/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.moduleProductsInfoReviewsRow {
}

.moduleProductsInfoReviewsTitle, span.moduleProductsInfoReviewsTitle h3 {

    font-weight: bold;
}


.moduleProductsInfoTextReviewBy, span.moduleProductsInfoTextReviewBy  {
    font-weight: bold;
    float: left;
}

.moduleProductsInfoDateReviewAdded, span.moduleProductsInfoDateReviewAdded  {
  font-weight: bold;
}

.moduleProductsInfoReviewText  {
}

span.productsInfoReviewsRating {
  color: #f0a42a;
  font-size: large;
}