/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModuleProductsInfoOptionsText  {
  font-weight: bold;
  width:150px;
  font-size: 0.875rem;
}

.ModuleProductsInfoOptionsName {
  font-weight: bold;
   width:40%;
}


.ModuleProductsInfoOptionsPullDownMenu {
}

.ModuleProductsInfoOptionsPullDownMenuOptionsInside {

  width: 280px;
/*
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27); 
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27); 
  -moz-box-shadow:    2px 2px 5px rgba(0, 0, 0, 0.27); 
  border-radius: 8px;
  background-color: #fff;
*/
}

div.ModuleProductsInfoPositionOption {
  padding-left: 0.625rem;
  width:450px;
}