Options -Indexes

# Only image
<FilesMatch "\.(php|jpg|jpeg|gif|png|bmp|tiff|svg|pdf|mov|mpeg|mp4|avi|mpg|wma|flv|webm|ico)$">
  <IfModule !mod_authz_core.c>
    Allow from all
  </IfModule>

  <IfModule mod_authz_core.c>
    Require all granted
  </IfModule>
</FilesMatch>
