/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.ModulesProductsSearchBoostrapColumn5Image {
  text-align: center;
}

.ModulesProductsSearchBoostrapColumn5Title h3 {
  text-align: center;
  vertical-align: text-top;
  padding-top: 0.3125rem;
  height: 0.625rem;
  padding-left: 0.3125rem;
  padding-right: 5px;
  font-size: 0.875rem !important;
}

.ModulesProductsSearchBoostrapColumn5Title A {
  text-decoration: none;
}

.ModulesProductsSearchBoostrapColumn5ShortDescription h3 {
  text-align: center;
  padding-top: 0.3125rem;
  color: #7F736F;
  text-transform: lowercase;
  padding-left: 0.3125rem;
  padding-right: 5px;
}

.ModulesProductsSearchBoostrapColumn5TextPrice {
  color: #000000;
  text-align: center;
  vertical-align: text-top;
  padding-top: 0.625rem;
}

.ModulesProductsSearchBoostrapColumn5StockImage {
  text-align: center;
  vertical-align: text-top;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsSearchBoostrapColumn5QuantityMinOrder {
  text-align: center;
  color: #7F736F;
  padding-top: 0.625rem;
  padding-bottom: 5px;
}

.ModulesProductsSearchBoostrapColumn5ProductsQuantityUnit {
  text-align: center;
  color: #7F736F;
  padding-top: 0.625rem;
}

.ModulesProductsSearchBoostrapColumn5ViewDetails {
  text-align: center;
}

.ModulesProductsSearchBoostrapColumn5SubmitButton {
  text-align: center;
  text-transform: uppercase;
}
