/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */


div.sitemapCategoryTreeTittleCategories {
    padding-left: 35px;
    color: #000;
}


div.SitemapCategoryTreeBlockCategories {
    float: left;
    width: 80%;
    padding-left: 75px;
    text-decoration: none !important;
}

div.SitemapCategoryTreeCategories A {
    list-style: none;
    list-style-type: none;
    padding-left: 0.3125rem;
    text-decoration: none !important;
}

/*
.categoryTree a:hover{
	font-weight:bold;
  text-transform: underline;  
}
*/

div.SitemapCategoryTreeCategories {
    color: #EDAC27;
}


div.SitemapCategoryTreeCategories ul {
    float: left;
    list-style: none;
    list-style-type: none;
    width: 100%;
    border-left: 1px dotted gray;
}

div.SitemapCategoryTreeCategories li {
    list-style: none;
    list-style-type: none;
    width: 100%;
}

ul.list-group-SitemapTreeCategories {
    margin-bottom: 5px;
    padding-left: 30px;
}

li.list-group-itemSitemapTreeCategories {
    border: none;
    padding-top: 0.625rem;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 0.3125rem;
}
