.chatbot-hr {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.chatbox-small {
  max-width: 50%;
}

.system-message {
  font-style: italic;
  color: #888;
}

#chat-messages {
  position: relative;
  max-height: 400px; /* Définissez la hauteur maximale souhaitée */
  overflow-y: auto; /* Activer le défilement vertical automatique */
}

#chat-messages a {
  color: #007bff;
  text-decoration: underline;
}

#chat-messages a:visited {
  color: #800080;
}

#chat-messages a:hover {
  color: #ff0000;
  text-decoration: none;
}

.scroll-bottom {
  overflow-y: scroll;
}