/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

span.moduleFooterPageManager A {
  background-color: #F0EDEC;
  color: #000;
}

span.moduleFooterPageManager A {
  background-color: #F0EDEC;
}

div.moduleFooterPageManager {
  padding-top: 0.625rem;
  text-align: center;
  background-color: #F0EDEC;
  color:#000;
}

span.menuFooterPageManager A {
  background-color: #F0EDEC;
  color: #000;
}
