/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

.moduleFrontPageManufacturersText h3 {
  color: #edac27;
  text-align: center;
  font-size: 1rem;
}

.moduleFrontPageManufacturersText h3 A {
  color: #edac27;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.moduleFrontPageManufacturersText a:hover {
}

.card-img-top.ModulesFrontPageBoostrapManufacturerImages {
  height:8rem;
}