/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT
 *  @licence MIT - Portion of osCommerce 2.4
 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

div.moduleAccountCustomersNotificationstitle h3 {
  padding-top: 0.625rem;
}

div.moduleAccountCustomersNotificationsList {

}

.moduleAccountCustomersNotificationsIcon {
  color: #C0392B;
}

.moduleAccountCustomersNotificationsIconArrow {
  color: #C0392B;
}